# Created by .ignore support plugin (hsz.mobi)
/center_management_app/bin
.vs/DXApplication1/v15
.vs/DXApplication1/v15
.vs/DXApplication1/v15
center_management_app/bin/Debug
center_management_app/obj
center_management_app/obj
packages/
.vs