<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="center_management_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/WXI</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Calmness</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="WXI">
              <SvgPalette Name="Blue_Cus1">
                <SvgColor Name="Background 200" Value="White"/>
                <SvgColor Name="Background 100" Value="250,250,250"/>
                <SvgColor Name="Background 0" Value="244,244,244"/>
                <SvgColor Name="Background -100" Value="238,238,238"/>
                <SvgColor Name="Background -200" Value="234,234,234"/>
                <SvgColor Name="Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Foreground 50" Value="156,156,156"/>
                <SvgColor Name="Foreground 25" Value="Silver"/>
                <SvgColor Name=" " Value=""/>
                <SvgColor Name="Edit Background 0" Value="255,255,255"/>
                <SvgColor Name="Edit Background -50" Value="244,244,244"/>
                <SvgColor Name="Edit Background -100" Value="236,246,255"/>
                <SvgColor Name="Edit Background -200" Value="227,242,254"/>
                <SvgColor Name="Edit Background -300" Value="230,230,230"/>
                <SvgColor Name="Edit Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Edit Foreground 50" Value="118,118,118"/>
                <SvgColor Name="Edit Foreground 25" Value="Silver"/>
                <SvgColor Name=" " Value=""/>
                <SvgColor Name="Line 100" Value="156,156,156"/>
                <SvgColor Name="Line 50" Value="208,208,208"/>
                <SvgColor Name="Line 25" Value="230,230,230"/>
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#8D8D8D"/>
                    <stop offset="10%" stop-color="#E6E6E6"/>
                    <stop offset="100%" stop-color="#E6E6E6"/>
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#CCCCCC"/>
                    <stop offset="10%" stop-color="#E6E6E6"/>
                    <stop offset="100%" stop-color="#E6E6E6"/>
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value=""/>
                <SvgColor Name="Primary Background 100" Value="186,224,255"/>
                <SvgColor Name="Primary Background 0" Value="0,103,192"/>
                <SvgColor Name="Primary Background -100" Value="1,92,170"/>
                <SvgColor Name="Primary Background -200" Value="0,84,158"/>
                <SvgColor Name="Primary Foreground 100" Value="255,255,255"/>
                <SvgColor Name="Primary Foreground 25" Value="109,166,225"/>
                <SvgColor Name="     " Value=""/>
                <SvgColor Name="Secondary Background 0" Value="$Control"/>
                <SvgColor Name="Secondary Background -100" Value="1,92,170"/>
                <SvgColor Name="Secondary Background -200" Value="0,84,158"/>
                <SvgColor Name="Secondary Foreground 100" Value="255,255,255"/>
                <SvgColor Name="Secondary Foreground 25" Value="109,166,225"/>
                <SvgColor Name="    " Value=""/>
                <SvgColor Name="Red" Value="231,72,86"/>
                <SvgColor Name="Green" Value="1,133,116"/>
                <SvgColor Name="Blue" Value="0,120,212"/>
                <SvgColor Name="Yellow" Value="255,140,0"/>
                <SvgColor Name="Black" Value="74,84,89"/>
                <SvgColor Name="Gray" Value="192,192,192"/>
                <SvgColor Name="White" Value="255,255,255"/>
              </SvgPalette>
              <SvgPalette Name="Cus_2">
                <SvgColor Name="Background 200" Value="White"/>
                <SvgColor Name="Background 100" Value="216,216,216"/>
                <SvgColor Name="Background 0" Value="216,216,216"/>
                <SvgColor Name="Background -100" Value="238,238,238"/>
                <SvgColor Name="Background -200" Value="234,234,234"/>
                <SvgColor Name="Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Foreground 50" Value="156,156,156"/>
                <SvgColor Name="Foreground 25" Value="Silver"/>
                <SvgColor Name=" " Value=""/>
                <SvgColor Name="Edit Background 0" Value="255,255,255"/>
                <SvgColor Name="Edit Background -50" Value="247,247,247"/>
                <SvgColor Name="Edit Background -100" Value="240,240,240"/>
                <SvgColor Name="Edit Background -200" Value="236,236,236"/>
                <SvgColor Name="Edit Background -300" Value="230,230,230"/>
                <SvgColor Name="Edit Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Edit Foreground 50" Value="118,118,118"/>
                <SvgColor Name="Edit Foreground 25" Value="Silver"/>
                <SvgColor Name=" " Value=""/>
                <SvgColor Name="Line 100" Value="156,156,156"/>
                <SvgColor Name="Line 50" Value="208,208,208"/>
                <SvgColor Name="Line 25" Value="230,230,230"/>
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#8D8D8D"/>
                    <stop offset="10%" stop-color="#E6E6E6"/>
                    <stop offset="100%" stop-color="#E6E6E6"/>
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#CCCCCC"/>
                    <stop offset="10%" stop-color="#E6E6E6"/>
                    <stop offset="100%" stop-color="#E6E6E6"/>
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value=""/>
                <SvgColor Name="Primary Background 100" Value="84,232,207"/>
                <SvgColor Name="Primary Background 0" Value="0,178,148"/>
                <SvgColor Name="Primary Background -100" Value="0,161,134"/>
                <SvgColor Name="Primary Background -200" Value="0,135,113"/>
                <SvgColor Name="Primary Foreground 100" Value="216,216,216"/>
                <SvgColor Name="Primary Foreground 25" Value="116,212,196"/>
                <SvgColor Name="     " Value=""/>
                <SvgColor Name="Secondary Background 0" Value="216,216,216"/>
                <SvgColor Name="Secondary Background -100" Value="238,238,238"/>
                <SvgColor Name="Secondary Background -200" Value="234,234,234"/>
                <SvgColor Name="Secondary Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Secondary Foreground 25" Value="Silver"/>
                <SvgColor Name="    " Value=""/>
                <SvgColor Name="Red" Value="231,72,86"/>
                <SvgColor Name="Green" Value="1,133,116"/>
                <SvgColor Name="Blue" Value="0,120,212"/>
                <SvgColor Name="Yellow" Value="255,140,0"/>
                <SvgColor Name="Black" Value="74,84,89"/>
                <SvgColor Name="Gray" Value="192,192,192"/>
                <SvgColor Name="White" Value="255,255,255"/>
              </SvgPalette>
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Background 200" Value="White"/>
                <SvgColor Name="Background 100" Value="250,250,250"/>
                <SvgColor Name="Background 0" Value="244,244,244"/>
                <SvgColor Name="Background -100" Value="238,238,238"/>
                <SvgColor Name="Background -200" Value="234,234,234"/>
                <SvgColor Name="Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Foreground 50" Value="156,156,156"/>
                <SvgColor Name="Foreground 25" Value="Silver"/>
                <SvgColor Name=" " Value=""/>
                <SvgColor Name="Edit Background 0" Value="255,255,255"/>
                <SvgColor Name="Edit Background -50" Value="247,247,247"/>
                <SvgColor Name="Edit Background -100" Value="240,240,240"/>
                <SvgColor Name="Edit Background -200" Value="236,236,236"/>
                <SvgColor Name="Edit Background -300" Value="230,230,230"/>
                <SvgColor Name="Edit Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Edit Foreground 50" Value="118,118,118"/>
                <SvgColor Name="Edit Foreground 25" Value="Silver"/>
                <SvgColor Name=" " Value=""/>
                <SvgColor Name="Line 100" Value="156,156,156"/>
                <SvgColor Name="Line 50" Value="208,208,208"/>
                <SvgColor Name="Line 25" Value="230,230,230"/>
                <SvgColor Name="Line Gradient 100" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#8D8D8D"/>
                    <stop offset="10%" stop-color="#E6E6E6"/>
                    <stop offset="100%" stop-color="#E6E6E6"/>
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="Line Gradient 50" Value="">
                  <linearGradient x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="objectBoundingBox" spreadMethod="pad">
                    <stop offset="0%" stop-color="#CCCCCC"/>
                    <stop offset="10%" stop-color="#E6E6E6"/>
                    <stop offset="100%" stop-color="#E6E6E6"/>
                  </linearGradient>
                </SvgColor>
                <SvgColor Name="   " Value=""/>
                <SvgColor Name="Primary Background 100" Value="84,232,207"/>
                <SvgColor Name="Primary Background 0" Value="0,178,148"/>
                <SvgColor Name="Primary Background -100" Value="0,161,134"/>
                <SvgColor Name="Primary Background -200" Value="0,135,113"/>
                <SvgColor Name="Primary Foreground 100" Value="255,255,255"/>
                <SvgColor Name="Primary Foreground 25" Value="116,212,196"/>
                <SvgColor Name="     " Value=""/>
                <SvgColor Name="Secondary Background 0" Value="216,216,216"/>
                <SvgColor Name="Secondary Background -100" Value="238,238,238"/>
                <SvgColor Name="Secondary Background -200" Value="234,234,234"/>
                <SvgColor Name="Secondary Foreground 100" Value="36,36,36"/>
                <SvgColor Name="Secondary Foreground 25" Value="Silver"/>
                <SvgColor Name="    " Value=""/>
                <SvgColor Name="Red" Value="231,72,86"/>
                <SvgColor Name="Green" Value="1,133,116"/>
                <SvgColor Name="Blue" Value="0,120,212"/>
                <SvgColor Name="Yellow" Value="255,140,0"/>
                <SvgColor Name="Black" Value="74,84,89"/>
                <SvgColor Name="Gray" Value="192,192,192"/>
                <SvgColor Name="White" Value="255,255,255"/>
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <userSettings>
    <center_management_app.Properties.Settings>
      <setting name="tokenSellClone" serializeAs="String">
        <value/>
      </setting>
      <setting name="userCashbag" serializeAs="String">
        <value/>
      </setting>
      <setting name="passwordCashbag" serializeAs="String">
        <value/>
      </setting>
      <setting name="username" serializeAs="String">
        <value/>
      </setting>
      <setting name="password" serializeAs="String">
        <value/>
      </setting>
      <setting name="userSiteAccount" serializeAs="String">
        <value/>
      </setting>
      <setting name="passSiteAccount" serializeAs="String">
        <value/>
      </setting>
      <setting name="userMMO" serializeAs="String">
        <value/>
      </setting>
      <setting name="passwordMMO" serializeAs="String">
        <value/>
      </setting>
      <setting name="isChangeDevice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isResetDevice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isReinstallROM" serializeAs="String">
        <value>False</value>
      </setting>
    </center_management_app.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraBars.v22.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-22.2.5.0" newVersion="22.2.5.0"/>
      </dependentAssembly>
      <probing privatePath="lib"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>
